body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #a1a4aa;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
}

.sidebar nav{
    display: grid;
    gap: 10px;
}



/*Personalizar o imput*/
#formulario{
    background-color: rgb(121, 122, 122);
    color: rgb(0, 62, 185);
    padding: 20px;
    width: 300px;
    height: 180px;
    align-content: center;
    border-radius: 20px;
    border: solid black 2px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}



/*Personalizando a lista*/
#div-agendamentos{
    height: 300px;
    width: 300px;
}


ul{ 
    display: grid;
    border-radius: 20px;
    list-style-type: none;
    border: solid black 2px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

ul li{
    gap: 0px;
    margin: 0px;
    height: 100px;
    width: 100px;
}
